body{
  text-align: justify!important;
  background-image: url(./images/nav_logo.svg) !important;
  background-size: 35px auto!important;
}
a[href]{
  color: #418130!important;
}
.toc a{
    color: var(--toclink-text)!important;
  }
.title{
  color:#2b422d!important;
}
.subtitle{
  color:#2b422d!important;
}
.dt-published{
  color:#418130!important;
}
h1, h2, h3{
  color:#418130!important;
  font-weight: bold!important;
}
:is(h2,h3,h4,h5,h6)+a.self-link::before {
  color:#418130!important;
}
a.bibref{
    color: #418130!important;
}
table.simple {width:100%; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 3px solid #418130!important;}
table.simple th{padding: 3px 10px!important; background: #418130!important;}
table.simple th.xxxsmall{width:5%!important; text-align: center;}
table.simple th.xsmall{width:10%!important; text-align: center;}
table.simple th.xxsmall{width:10%!important;}
table.simple th.small{width:15%!important;}
table.simple th.xsmedium{width:20%!important;}
table.simple th.medium{width:25%!important;}
table.simple th.large{width:45%;}
table.simple td.center{text-align: center;}
table.simple td.justify{text-align: justify!important;}
table.simple tr:nth-child(even) {
    background: #efefef82;
}
table.def  {
  padding:0!important;
  border-left: 0.5em solid #418130!important;
  border-right:1px solid #ddd!important;
  border-top:1px solid #ddd!important;
  border-bottom:1px solid #ddd!important;
  background: #efefef82;
}
table.def th {width: 7em!important;  }
table.def td, table.def th {
    padding: 0.5em;
    vertical-align: baseline;
    border-bottom: 1px solid #ccc!important;

}
.note ul {column-count:2;}
.note{
  border:1px solid #ddd!important;
}
.note ul.one {column-count:1;}
.hljs{
  background: #fcfaee!important;
}
table.definition {width:100%;}
table:not(.definition).simple {font-size:small;}
table.definition th {width:20%;}
table.definition td {width:80%;}

.code {
  margin: 1em auto;
  padding: .5em;
  border: .5em;
  border-left-style: solid;
  page-break-inside: avoid;
  border-color: #52E052;
  background: #E9FBE9;
  overflow: auto;
}
#table-epos-dcat-ap-classes-and-properties tbody th, table.dataTable tbody td {
    padding: 4px 2px 4px 3px!important;
}
#table-epos-dcat-ap-classes-and-properties tbody tr:hover {
   background-color: #e9e9e9;
   cursor: pointer;
}
td.plus:before{
  content: '\002B\0020';
  font-size: x-small;
}
p.plus:before{
  content: '\002B\0020';
  font-size: x-small;
}

.ex_turtle{
  font-family: inherit!important;
  font-size: inherit!important;
}
.CodeMirror {
  border: 1px solid #eee;
  height: auto!important;
}
.buttonsample {
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 700;
  border:0 outset buttonface;
  background: #F5F6F8;
  background-image: linear-gradient(to bottom,#F5F6F8,#DBDCDE);
  border-radius:4px;
  box-shadow:0 1px 3px #666;
  font-family: Arial;
  color: grey;
  font-size: 14px;
  padding: 10px 5px;
  text-decoration: none;
  float: right
}
.buttonsample:hover {color:#418130!important;}
.tabsstyle {
  overflow: hidden;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
  background-color:#fff!important;
  border-top: 1px solid #c5c5c5!important;
  border-left: 1px solid #c5c5c5!important;
  border-right: 1px solid #c5c5c5!important;
  border-bottom-width: 0;
}
.ui-tabs-tab:hover{
  background-color:#fff!important;
  border-top: 1px solid #c5c5c5!important;
  border-left: 1px solid #c5c5c5!important;
  border-right: 1px solid #c5c5c5!important;
  border-bottom-width: 0;
}
